@page "/"

@using DystirWeb.Models
@using DystirWeb.Services
@inject IJSRuntime JSRuntime
@inject DystirService DystirService
@inject ClientService ClientService
@inject Blazored.Localisation.Services.IBrowserDateTimeProvider BrowserDateTimeProvider
@layout MainFootballLayout
@implements IDisposable

<div class="container-fluid d-flex h-100 flex-column p-0">
    @*<div class="row">
        <button @onclick="@StopHub">
            <div id="result">StopHub</div>
        </button>
    </div>*@
    <div class="row">
        <ChooseDays DaysOnClick="@DaysOnClick" TimeZoneOffset="@timeZoneOffset" />
    </div>
    <div class="row flex-fill d-flex justify-content-start">
        <div class="col">
            <div class="matches_container">
                @if (SelectedMatchListGroup == null || SelectedMatchListGroup?.Count == 0)
                {
                    <div class="no-matches">Eingin dystur</div>
                }
                else
                {
                    @foreach (var matchgroup in SelectedMatchListGroup)
                    {
                        <div class="match-group-competition-name">@(matchgroup.Key)</div>
                        @foreach (var match in matchgroup)
                        {
                            @if (match.StatusId <= 12)
                            {
                                <NavLink class="nav-link" style="cursor: pointer;" href="@("football/matchdetails/" + match.MatchId)">
                                    <Match MatchItem="@match" ShowMore="@(true)" TimeZoneOffset="@timeZoneOffset" />
                                </NavLink>
                            }
                            else
                            {
                                <Match MatchItem="@match" ShowMore="@(true)" TimeZoneOffset="@timeZoneOffset" />
                            }
                        }
                    }
                }
                <NewsView />
                <SponsorsView ShowOnSideBar="false" />
            </div>
        </div>
    </div>
</div>

@if (isLoading)
{
    <div style="position:fixed; top:calc(50% - 1.5rem);left:calc(50% - 1.5rem);">
        <img src="images/icons/loadingicon.gif" style="width:3rem" />
    </div>
}

@code {
    private int _daysFrom = 0;
    private int _dayAfter = 0;
    private List<IGrouping<string, Matches>> SelectedMatchListGroup;
    private int timeZoneOffset = 0;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        ClientService.OnConnected += ClientService_OnConnected;
        ClientService.OnReconnected += ClientService_OnReconnected;
        ClientService.OnUpdated += ClientService_OnUpdated;
        DystirService.OnConnected += HubConnection_OnConnected;
        var browserDateTime = await BrowserDateTimeProvider.GetInstance();
        int serverTimeZoneHours = TimeZoneInfo.Local.GetUtcOffset(DateTime.UtcNow).Hours;
        int clientTimeZoneHours = browserDateTime.LocalTimeZoneInfo.BaseUtcOffset.Hours;
        timeZoneOffset = clientTimeZoneHours - serverTimeZoneHours;
        _ = GetSelectedMatchListGroup();
    }

    void IDisposable.Dispose()
    {
        ClientService.OnConnected -= ClientService_OnConnected;
        ClientService.OnReconnected -= ClientService_OnReconnected;
        ClientService.OnUpdated -= ClientService_OnUpdated;
        DystirService.OnConnected -= HubConnection_OnConnected;
    }

    private async void ClientService_OnConnected()
    {
        await GetSelectedMatchListGroup();
    }

    private async void ClientService_OnReconnected()
    {
        await GetSelectedMatchListGroup();
    }

    private async void ClientService_OnUpdated(string matchID)
    {
        await GetSelectedMatchListGroup();
    }

    private async void HubConnection_OnConnected()
    {
        await GetSelectedMatchListGroup();
    }

    public string GetMatchDetailsInfo(Matches match)
    {
        string matchDetailsInfo = (match.HomeTeam + "-" + match.AwayTeam)
            .Replace(" ", "").Replace("/", "").Replace(".", "");
        return matchDetailsInfo;
    }

    private void DaysOnClick(int[] parameters)
    {
        _daysFrom = parameters[0];
        _dayAfter = parameters[1];
        isLoading = true;
        _ = GetSelectedMatchListGroup();
    }

    public async Task GetSelectedMatchListGroup()
    {
        await Task.Run(() =>
        {
            var fromDate = DateTime.UtcNow.AddHours(timeZoneOffset).Date.AddDays(_daysFrom);
            var toDate = fromDate.AddDays(_dayAfter);
            SelectedMatchListGroup = DystirService.AllMatches?.OrderBy(x => GetOrder(x.MatchTypeId)).ThenBy(x => x.Time).ThenBy(x => x.MatchId)
            .Where(x => x.Time.Value.ToLocalTime().Date >= fromDate
            && x.Time.Value.ToLocalTime().Date <= toDate).GroupBy(x => x.MatchTypeName).ToList() ?? new List<IGrouping<string, Matches>>();
        });
        isLoading = false;
        Refresh();
    }

    private object GetOrder(int? matchTypeId)
    {
        switch (matchTypeId)
        {
            case 101:
                return 6;
            case 6:
                return 101;
            default:
                return matchTypeId;
        }
    }

    private void Refresh()
    {
        InvokeAsync(() => StateHasChanged());
    }

    private async Task StopHub()
    {
        //await JSRuntime.InvokeAsync<object>("stopConnection");
        await DystirService.DystirHub.DystirHubConnection.StopAsync();
    }
}
