@using DystirWeb.Services
@using DystirWeb.Models
@using System.Globalization
@inject DystirService DystirService
@inherits MatchBase

<div class="match_item @(BorderStyle())">
    <div class="match_info">
        <span>@MatchItem.Time?.ToLocalTime().ToString("ddd dd.MM.", new CultureInfo("fo-FO"))</span>
        <span>@(MatchItem.Time?.ToString("HH:mm") == "00:00" ? "" : MatchItem.Time?.AddHours(TimeZoneOffset).ToLocalTime().ToString(" HH:mm"))</span>
        <span>@(string.IsNullOrWhiteSpace(MatchItem.RoundName) ? "" : " - ")</span>
        <span>@MatchItem.RoundName</span>
        <span>@(string.IsNullOrWhiteSpace(MatchItem.Location) ? "" : " - ")</span>
        <span>@MatchItem.Location</span>
    </div>
    <table class="table">
        <tr class="match_item_teams_name">
            <td style="text-align:right;padding:0">
                <img src="team_logos/@(GetTeamLogo(MatchItem.HomeTeam, DystirService.AllTeams))" onerror="this.src='team_logos/empty.png'" height="30" />
                <span>@((MatchItem.HomeTeam + " " + MatchItem.HomeSquadName + " " + MatchItem.HomeCategoriesName).Trim())</span>
            </td>
            <td style="text-align:center;width:20px;padding:0 3px;">-</td>
            <td style="text-align:left;padding:0">
                <span>@((MatchItem.AwayTeam + " " + MatchItem.AwaySquadName + " " + MatchItem.AwayCategoriesName).Trim())</span>
                <img src="team_logos/@(GetTeamLogo(MatchItem.AwayTeam, DystirService.AllTeams))" onerror="this.src='team_logos/empty.png'" height="30" />
            </td>
        </tr>
    </table>
    <table class="table">
        <tr class="match_item_text_color">
            @if (MatchItem.StatusId < 14)
            {
                <td style="text-align:left;">
                    <span class="match_time" style="color:@GetStatusColor(MatchItem.StatusId)">@GetMatchTime(MatchItem.StatusTime, MatchItem.Time, MatchItem.StatusId)</span>
                </td>
                @if (MatchItem.StatusId > 1)
                {
                    <td style="text-align:right;padding:0 5px">
                        @(MatchItem.HomeTeamScore)
                    </td>
                    <td style="text-align:center;width:20px;padding:0 5px">:</td>
                    <td style="text-align:left;padding:0 5px">
                        @(MatchItem.AwayTeamScore)
                    </td>
                }
                else
                {
                    <td style="text-align:center;padding:0 5px"> - : - </td>
                }
                <td style="text-align:right;">
                    @if (MatchItem.StatusId < 13 && ShowMore)
                    {
                        <span>Vís meira &#10095;</span>
                    }
                </td>
            }
        </tr>
    </table>
</div>

@code {

    [Parameter]
    public bool ShowMore { get; set; }

    [Parameter]
    public Matches MatchItem { get; set; }

    [Parameter]
    public int TimeZoneOffset { get; set; }

    string BorderStyle()
    {
        return ShowMore ? "match_item_border" : "";
    }
}
