@page "/football/statistics"

@using DystirWeb.Models
@using DystirWeb.ModelViews
@using DystirWeb.Services
@using System.Collections.ObjectModel
@inject DystirService DystirService
@inject ClientService ClientService
@layout MainFootballLayout
@implements IDisposable

<div class="container-fluid d-flex h-100 flex-column p-0">
    <div style="position:relative;width:100%;padding:0;background-color:dimgray">
        <ChooseCompetitions CompetitionsList="@(FullStatistics?.CompetitionsList?.ToList())" SelectedCompetition="@(FullStatistics?.SelectedCompetition)" CompetitionsOnClick="@(CompetitionsOnClick)" />
    </div>
    @if (FullStatistics?.CompetitionStatistic != null)
    {
        <div class="row" style="padding-top:10px;">
            <div class="statistics-title">
                MÁLSKJÚTTAR<div class="statistics-border" />
            </div>
            <div class="statistics-title">
                UPPLEGG<div class="statistics-border" />
            </div>
        </div>
        <div class="row flex-fill d-flex justify-content-start">
            <div class="col">
                <div class="matches_container">
                    <table class="table text-white">
                        <tr>
                            <td style="vertical-align: top; padding: 0 2px; margin: 0 auto">
                                @for (int i = 0; i < FullStatistics.CompetitionStatistic.GoalPlayers.Count; i++)
                                {
                                    PlayersOfMatches player = FullStatistics.CompetitionStatistic.GoalPlayers[i];
                                    <table class="table player-list-item">
                                        <tr>
                                            <td class="statistics-number">@(string.Format("{0}.", i + 1))</td>
                                            <td class="player_name">
                                                @player.FirstName<br />
                                                <span style="color: gray">@player.TeamName</span>
                                            </td>
                                            <td class="statistics-goal">@player.Goal</td>
                                        </tr>
                                    </table>
                                }
                            </td>
                            <td style="vertical-align:top;padding:0 2px;margin:0 auto">
                                @for (int i = 0; i < FullStatistics.CompetitionStatistic.AssistPlayers.Count; i++)
                                {
                                    PlayersOfMatches player = FullStatistics.CompetitionStatistic.AssistPlayers[i];
                                    <table class="table player-list-item">
                                        <tr>
                                            <td class="statistics-number">@(string.Format("{0}.", i + 1))</td>
                                            <td class="player_name">
                                                @player.FirstName<br />
                                                <span style="color: gray">@player.TeamName</span>
                                            </td>
                                            <td class="statistics-asist">@player.Assist</td>
                                        </tr>
                                    </table>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    }
</div>

@if (isLoading)
{
    <div style="position:fixed; top:calc(50% - 1.5rem);left:calc(50% - 1.5rem);">
        <img src="images/icons/loadingicon.gif" style="width:3rem" />
    </div>
}

@code {
    ObservableCollection<CompetitionStatistic> _statisticCompetitions;
    private FullStatisticModelView FullStatistics;
    private bool isLoading = true;
    private string _competition;

    protected override async Task OnInitializedAsync()
    {
        ClientService.OnConnected += ClientService_OnConnected;
        ClientService.OnReconnected += ClientService_OnReconnected;
        DystirService.OnConnected += HubConnection_OnConnected;
        _ = GetStatisticsList(_competition);
        await Task.CompletedTask;
    }

    void IDisposable.Dispose()
    {
        ClientService.OnConnected -= ClientService_OnConnected;
        ClientService.OnReconnected -= ClientService_OnReconnected;
        DystirService.OnConnected -= HubConnection_OnConnected;
    }

    private async void ClientService_OnConnected()
    {
        _statisticCompetitions= null;
        await GetStatisticsList(_competition);
    }

    private async void ClientService_OnReconnected()
    {
        _statisticCompetitions = null;
        await GetStatisticsList(_competition);
    }

    private async void HubConnection_OnConnected()
    {
        _statisticCompetitions = null;
        await GetStatisticsList(_competition);
    }

    private void Refresh()
    {
        InvokeAsync(() => StateHasChanged());
    }

    private async void CompetitionsOnClick(string competition)
    {
        isLoading = true;
        Refresh();
        _competition = competition;
        await GetStatisticsList(_competition);
    }

    public async Task GetStatisticsList(string selectedCompetition)
    {
        await Task.Run(() =>
        {
            if(_statisticCompetitions == null)
            {
                _statisticCompetitions = DystirService.GetCompetitionStatistics();
            }
            selectedCompetition = string.IsNullOrWhiteSpace(selectedCompetition) ? _statisticCompetitions?.FirstOrDefault()?.CompetitionName ?? string.Empty : selectedCompetition;
            CompetitionStatistic competitionStatistic = _statisticCompetitions?.FirstOrDefault(x => x.CompetitionName == selectedCompetition);
            FullStatisticModelView fullStatistics = new FullStatisticModelView()
            {
                SelectedCompetition = selectedCompetition,
                CompetitionsList = GetCompetitionsList(),
                CompetitionStatistic = competitionStatistic
            };
            FullStatistics = fullStatistics;
        });
        isLoading = false;
        Refresh();
    }

    private IEnumerable<string> GetCompetitionsList()
    {
        List<string> competitionsList = new List<string>();
        foreach (var statistic in _statisticCompetitions ?? new ObservableCollection<CompetitionStatistic>())
        {
            competitionsList.Add(statistic.CompetitionName);
        }
        return competitionsList;
    }
}
