@page "/{page}/matchdetails/{matchid}"

@layout PagesWebSiteShareLayout
@implements IDisposable

@if (page?.ToLower() == "dimma" || page?.ToLower() == "info" || page?.ToLower() == "portal")
{
    <div id="main_share">
        <div id="background_share">
            <div id="header_container_share">
                <PageWebSiteShareHeader Page="@(page?.ToLower())" />
            </div>

            <div id="container_share">
                <div id="match-details_static_part">
                    @if (SelectedMatchListGroup?.Count() > 1)
                    {
                        <div id="competitions_selection">
                            <ChooseCompetitions CompetitionsList="@(CompetitionsList)"
                                                SelectedCompetition="@(SelectedCompetition)"
                                                CompetitionsOnClick="@(CompetitionsOnClick)" />
                        </div>
                        <div id="matches_same_day_share">
                            @foreach (var matchesGroup in SelectedMatchListGroup)
                            {
                                if (SelectedCompetition == matchesGroup.Key)
                                {
                                    var matches = matchesGroup.Select(x => x);
                                    @foreach (Matches match in matches)
                                    {
                                        <NavLink style="cursor:pointer;" @onclick="@(() => isLoading = SelectedMatch?.MatchID != match.MatchID)" href="@(page + "/matchdetails/" + match.MatchID + string.Format("?{0}", GetTimestamp(DateTime.Now)))">
                                            <div class="match_item_same_day_share_details" style="width:@(GetMatchItemWidth(NumberOfMatches)) !important">
                                                <PagesWebSiteShareMatchForSameDayList MatchItem="@match" TimeZoneOffset="@timeZoneOffset"/>
                                            </div>
                                        </NavLink>
                                    }
                                }
                            }
                        </div>
                    }

                    <div id="selected_match_details">
                        <PagesWebSiteShareMatch MatchItem="@SelectedMatch"
                                                TimeZoneOffset="@timeZoneOffset"
                                                ShowMatchType="@true"
                                                Page="@(page?.ToLower())" />
                    </div>

                    @if (SelectedMatch != null)
                    {
                        <div id="horizontal_menu_days">
                            <MatchDetailsTabs TabOnClick="OnTabClick" Match="@(SelectedMatch)" />
                        </div>
                    }
                </div>

                <div id="match_details_container">
                    <div class="@(selectedTab == "0" ? "active_tab" : "no_active_tab")">
                        <SummaryView SummaryEventsOfMatch="@(fullMatchDetails?.Summary)" />
                    </div>
                    <div class="@(selectedTab == "1" ? "active_tab" : "no_active_tab")">
                        <LineupsView PlayersOfMatch="@(fullMatchDetails?.MatchDetails?.PlayersOfMatch)" Match="@(fullMatchDetails?.MatchDetails?.Match)" />
                    </div>
                    <div class="@(selectedTab == "2" ? "active_tab" : "no_active_tab")">
                        <CommentariesView Commentaries="@(fullMatchDetails?.Commentary)" />
                    </div>
                    @if (SelectedMatch?.StatusID <= 12)
                    {
                        <div class="@(selectedTab == "3" ? "active_tab" : "no_active_tab")">
                            <StatisticView StatisticOfMatch="@(fullMatchDetails?.Statistics)" />
                        </div>
                    }
                    @if (ShowLiveStandings(SelectedMatch))
                    {
                        <div class="@(selectedTab == "4" ? "active_tab" : "no_active_tab")">
                            <LiveStandingView Standing="@(standing)" Match="@(SelectedMatch)" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @if (isLoading)
    {
        <div class="loading-spinner-parent">
            <i class="fas fa-spin fa-spinner fa-2x" style="color: darkgrey"></i>
        </div>
    }
}

@code {

    [Parameter]
    public string matchid { get; set; }

    [Parameter]
    public string page { get; set; }

    private string SelectedCompetition { get; set; }
    private List<string> CompetitionsList { get; set; }
    private int? NumberOfMatches { get; set; }
    private List<IGrouping<string, Matches>> SelectedMatchListGroup = new List<IGrouping<string, Matches>>();
    private Matches SelectedMatch;
    private FullMatchDetailsModelView fullMatchDetails;
    private Standing standing = new Standing();
    private int timeZoneOffset = 0;
    private bool isLoading = true;
    private string selectedTab = "0";


    protected override async Task OnInitializedAsync()
    {
        DystirWebClientService.OnFullDataLoaded += DystirWebClientService_FullDataLoaded;
        DystirWebClientService.OnConnected += HubConnection_OnConnected;
        DystirWebClientService.OnRefreshMatchDetails += DystirWebClientService_OnRefreshMatchDetails;
        TimeService.OnTimerElapsed += TimerElapsed;
        timeZoneOffset = int.Parse(await JSRuntime.InvokeAsync<String>("getTimeZoneOffset"));
        if (matchid != null)
        {
            _ = LoadMatchDetails();
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        timeZoneOffset = int.Parse(await JSRuntime.InvokeAsync<String>("getTimeZoneOffset"));
        _ = LoadMatchDetails();
    }

    void IDisposable.Dispose()
    {
        DystirWebClientService.OnFullDataLoaded -= DystirWebClientService_FullDataLoaded;
        DystirWebClientService.OnConnected -= HubConnection_OnConnected;
        DystirWebClientService.OnRefreshMatchDetails -= DystirWebClientService_OnRefreshMatchDetails;
        TimeService.OnTimerElapsed -= TimerElapsed;
    }

    private async void DystirWebClientService_FullDataLoaded()
    {
        await LoadMatchDetails();
    }

    private async void HubConnection_OnConnected()
    {
        await LoadMatchDetails();
    }

    private void DystirWebClientService_OnRefreshMatchDetails(MatchDetails matchDetails)
    {
        MatchUpdate(matchDetails);
    }

    private async void MatchUpdate(MatchDetails matchDetails)
    {
        string matchIDForUpdate = matchDetails?.MatchDetailsID.ToString();
        if (matchid == matchIDForUpdate)
        {
            await LoadMatchDetails();
        }
        else
        {
            var getSelectedMatchListGroupTask = GetSelectedMatchListGroup();
            var loadLiveStandingAsyncTask = LoadLiveStandingAsync(SelectedMatch);
            await Task.WhenAll(getSelectedMatchListGroupTask, loadLiveStandingAsyncTask);
        }
        Refresh();
    }

    private void TimerElapsed(object sender, EventArgs e)
    {
        if (HubConnection.State == HubConnectionState.Connected)
        {
            Refresh();
        }
    }

    private void Refresh()
    {
        InvokeAsync(() => StateHasChanged());
    }

    private void OnTabClick(string tabIndex)
    {
        selectedTab = tabIndex;
    }

    private void CompetitionsOnClick(string competition)
    {
        SelectedCompetition = competition;
        NumberOfMatches = SelectedMatchListGroup.FirstOrDefault(x => x.Key == SelectedCompetition).Select(x => x)?.Count() ?? 0;
        Refresh();
    }

    public async Task LoadMatchDetails()
    {
        _ = JSRuntime.InvokeVoidAsync("onPageResize", "");
        int parseMatchID = int.TryParse(matchid, out int m) ? int.Parse(matchid) : 0;
        SelectedMatch = DystirWebClientService.AllMatches?.FirstOrDefault(x => x.MatchID == parseMatchID);
        var loadMatchDetailsAsyncTask = DystirWebClientService.LoadMatchDetailsAsync(parseMatchID);
        var getSelectedMatchListGroupTask = GetSelectedMatchListGroup();
        var loadLiveStandingAsyncTask = LoadLiveStandingAsync(SelectedMatch);
        await Task.WhenAll(loadMatchDetailsAsyncTask, getSelectedMatchListGroupTask, loadLiveStandingAsyncTask);
        fullMatchDetails = loadMatchDetailsAsyncTask.Result;
        isLoading = false;
        Refresh();
        _ = JSRuntime.InvokeVoidAsync("onPageResize", "");
    }

    public async Task GetSelectedMatchListGroup()
    {
        var date = SelectedMatch.Time ?? DateTime.UtcNow;
        var fromDate = date.AddMinutes(-timeZoneOffset).Date.AddDays(0);
        var toDate = fromDate.AddDays(0);
        SelectedMatchListGroup = DystirWebClientService.AllMatches?
            .OrderBy(x => x.MatchTypeID).ThenBy(x => x.Time).ThenBy(x => x.MatchID)
            .Where(x => x.Time.Value.AddMinutes(-timeZoneOffset).Date >= fromDate && x.Time.Value.AddMinutes(-timeZoneOffset).Date <= toDate)
            .GroupBy(x => x.MatchTypeName)?.ToList() ?? new List<IGrouping<string, Matches>>();

        CompetitionsList = new List<string>();
        foreach (var matchGroup in SelectedMatchListGroup ?? new List<IGrouping<string, Matches>>())
        {
            CompetitionsList.Add(matchGroup.Key);
        }
        SelectedCompetition = string.IsNullOrWhiteSpace(SelectedMatch?.MatchTypeName) ? CompetitionsList?.FirstOrDefault() ?? "" : SelectedMatch?.MatchTypeName;

        NumberOfMatches = SelectedMatchListGroup?.FirstOrDefault(x => x.Key == SelectedCompetition)?.Select(x => x)?.Count() ?? 0;
        await Task.CompletedTask;
    }

    private async Task LoadLiveStandingAsync(Matches selectedMatch)
    {
        standing = LiveStandingService.GetStanding(selectedMatch?.MatchTypeName);
        await Task.CompletedTask;
    }

    private bool ShowLiveStandings(Matches match)
    {
        match = new Matches();
        var competititionNamesArray = DystirWebClientService?.AllCompetitions?
            .Where(x => x.CompetitionID > 0)?
            .Select(x => x.MatchTypeName);
        return competititionNamesArray?.Any(x => x == SelectedMatch?.MatchTypeName) == true;
    }

    private bool IsTodayMatch() {
        var fromDate = DateTime.UtcNow.AddMinutes(-timeZoneOffset).Date.AddDays(0);
        var toDate = fromDate.AddDays(0);
        return SelectedMatch.Time.Value.AddMinutes(-timeZoneOffset).Date >= fromDate && SelectedMatch.Time.Value.AddMinutes(-timeZoneOffset).Date <= toDate;
    }

    private string GetTimestamp(DateTime value)
    {
        return value.ToString("yyyyMMddHHmm");
    }

    private string GetMatchItemWidth(int? numberOfMatches)
    {
        if (numberOfMatches != null && numberOfMatches > 0)
        {
            return 100 / numberOfMatches - numberOfMatches * 0.1 + "%";
        }
        return "0px";
    }
}