@inherits MatchBase

@if (MatchItem != null)
{
    @if (IsMatchForSameDayList)
    {
        <div class="match_item_same_day_share" style="width:@(MatchItemWidth())">
            <table>
                <tr>
                    <td class="match_info pl-1">
                        <span>@MatchItem.Location</span>
                    </td>

                    <td class="match_time" style="white-space:nowrap;width:0">
                        <span style="color:@(GetStatusColor(MatchItem.StatusID) == "khaki" ? "darkkhaki" : GetStatusColor(MatchItem.StatusID))">@GetMatchTime(MatchItem.StatusTime, MatchItem.Time, MatchItem.StatusID)</span>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td class="match_item_same_day_team_name">
                        <span style="padding: 3px;">@((MatchItem.HomeTeam + " " + MatchItem.HomeSquadName + " " + MatchItem.HomeCategoriesName).Trim())</span>
                    </td>
                    @if (MatchItem.StatusID < 14 && MatchItem.StatusID > 1)
                    {
                        <td style="white-space:nowrap;width:0;">
                            <div style="padding:0 1px">
                                @if ((MatchItem.HomeTeamPenaltiesScore ?? 0) > 0 || (MatchItem.AwayTeamPenaltiesScore ?? 0) > 0)
                                {
                                    @(string.Format("({0})", MatchItem.HomeTeamPenaltiesScore))
                                }
                                else if (MatchItem.StatusID == 10)
                                {
                                    @("(0)")
                                }
                            </div>
                        </td>
                    }
                    <td style="white-space:nowrap;width:0;">
                        <div class="score_match_view">
                            @if (MatchItem.StatusID < 14 && MatchItem.StatusID > 1)
                            {
                                @((MatchItem.HomeTeamScore ?? 0) - (MatchItem.HomeTeamPenaltiesScore ?? 0))
                            }
                            else
                            {
                                @("-")
                            }
                        </div>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td class="match_item_same_day_team_name">
                        <span style="padding: 3px;">@((MatchItem.AwayTeam + " " + MatchItem.AwaySquadName + " " + MatchItem.AwayCategoriesName).Trim())</span>
                    </td>
                    @if (MatchItem.StatusID < 14 && MatchItem.StatusID > 1)
                    {
                        <td style="white-space:nowrap;width:0;">
                            <div style="padding:0 1px">
                                @if ((MatchItem.HomeTeamPenaltiesScore ?? 0) > 0 || (MatchItem.AwayTeamPenaltiesScore ?? 0) > 0)
                                {
                                    @(string.Format("({0})", MatchItem.AwayTeamPenaltiesScore))
                                }
                                else if (MatchItem.StatusID == 10)
                                {
                                    @("(0)")
                                }
                            </div>
                        </td>
                    }
                    <td style="white-space:nowrap;width:0">
                        <div class="score_match_view">
                            @if (MatchItem.StatusID < 14 && MatchItem.StatusID > 1)
                            {
                                @((MatchItem.AwayTeamScore ?? 0) - (MatchItem.AwayTeamPenaltiesScore ?? 0))
                            }
                            else
                            {
                                @("-")
                            }
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    }
    else
    {
        <div class="match_details_item">
            <table>
                <tr>
                    <td class="match_info text-center">
                        <span>@GetMatchDayName()</span>
                        <span>@MatchItem.Time?.AddMinutes(-TimeZoneOffset).ToString("dd.MM.", new CultureInfo("fo-FO"))</span>
                        <span>@(MatchItem.Time?.ToString("HH:mm") == "00:00" ? "" : MatchItem.Time?.AddMinutes(-TimeZoneOffset).ToString(" HH:mm"))</span>
                        <span>@(string.IsNullOrWhiteSpace(MatchItem.MatchTypeName) ? "" : " - ")</span>
                        <span>@MatchItem.MatchTypeName</span>
                        <span>@(string.IsNullOrWhiteSpace(MatchItem.RoundName) ? "" : " - ")</span>
                        <span>@MatchItem.RoundName</span>
                        <span>@(string.IsNullOrWhiteSpace(MatchItem.Location) ? "" : " - ")</span>
                        <span>@MatchItem.Location</span>
                    </td>

                    <td class="match_time" style="white-space:nowrap;width:0"></td>
                </tr>
            </table>

            <table class="w-100">
                <tr>
                    <td class="match_item_team_name pr-1 text-right">
                        <span>@((MatchItem.HomeTeam + " " + MatchItem.HomeSquadName + " " + MatchItem.HomeCategoriesName).Trim())</span>
                    </td>
                    <td class="text-center" style="width:30px">
                        <img src="team_logos/@(MatchItem.HomeTeamLogo)"
                             onerror="this.src='team_logos/empty.png'" width="25" height="25" />
                    </td>
                    <td class="text-center" style="width:20px">-</td>
                    <td class="text-center" style="width:30px">
                        <img src="team_logos/@(MatchItem.AwayTeamLogo)"
                             onerror="this.src='team_logos/empty.png'" width="25" height="25" />
                    </td>
                    <td class="match_item_team_name pl-1 text-left">
                        <span>@((MatchItem.AwayTeam + " " + MatchItem.AwaySquadName + " " + MatchItem.AwayCategoriesName).Trim())</span>
                    </td>
                </tr>
            </table>

            <table class="content_table">
                <tr class="match_item_text_color">
                    <td class="text-left">
                        @if (MatchItem.StatusID < 14)
                        {
                            <span class="match_time" style="color:@(GetStatusColor(MatchItem.StatusID) == "khaki" ? "darkkhaki" : GetStatusColor(MatchItem.StatusID))">@GetMatchTime(MatchItem.StatusTime, MatchItem.Time, MatchItem.StatusID)</span>
                        }
                    </td>

                    @if (MatchItem.StatusID < 14 && MatchItem.StatusID > 1)
                    {
                        if ((MatchItem.HomeTeamPenaltiesScore ?? 0) > 0 || (MatchItem.AwayTeamPenaltiesScore ?? 0) > 0)
                        {
                            <td class="text-right" style="padding:0 3px">
                                @(string.Format("( {0} )", MatchItem.HomeTeamPenaltiesScore))
                            </td>
                        }
                        else if (MatchItem.StatusID == 10)
                        {
                            <td class="text-right" style="padding:0 3px">( 0 )</td>
                        }
                        <td class="score_match_view">
                            @((MatchItem.HomeTeamScore ?? 0) - (MatchItem.HomeTeamPenaltiesScore ?? 0))
                        </td>
                        <td class="text-center" style="width:20px;">:</td>
                        <td class="score_match_view">
                            @((MatchItem.AwayTeamScore ?? 0) - (MatchItem.AwayTeamPenaltiesScore ?? 0))
                        </td>
                        if ((MatchItem.HomeTeamPenaltiesScore ?? 0) > 0 || (MatchItem.AwayTeamPenaltiesScore ?? 0) > 0)
                        {
                            <td class="text-left" style="padding:0 3px">
                                @(string.Format("( {0} )", MatchItem.AwayTeamPenaltiesScore))
                            </td>
                        }
                        else if (MatchItem.StatusID == 10)
                        {
                            <td class="text-left" style="padding:0 3px">( 0 )</td>
                        }
                    }
                    else
                    {
                        <td class="score_match_view">-</td>
                        <td class="text-center" style="width:20px;">:</td>
                        <td class="score_match_view">-</td>
                    }

                    <td class="text-right">
                    </td>
                </tr>
            </table>
        </div>
    }
}


