@using DystirWeb.Services
@using DystirWeb.Shared
@using ViewBases
@inject DystirWebClientService DystirWebClientService
@inherits MatchBase

@if (MatchItem != null)
{
    <div class="@(IsSelectedMatch == true ? "match_selected" : "selection_matches")">
        <table class="table">
            <tr class="match_item_text_color">
                @if (ShowMore)
                {
                    <td style="text-align:center;">
                        <div class="match_info" style="font-size: 0.9rem;text-align: center;">
                            <span>@(MatchItem.Time?.ToString("HH:mm") == "00:00" ? "-- : --" : MatchItem.Time?.ToLocalTime().ToString(" HH:mm"))</span>
                            <span>@(MatchItem.Time?.ToString("HH:mm") == "00:00" || string.IsNullOrWhiteSpace(MatchItem.Location) ? " " : " - ")</span>
                            <span>@MatchItem.Location</span>
                        </div>
                        <table class="table" style="font-weight:bold">
                            <tr>
                                <td style="text-align:right;padding:0 8px;">
                                    <img src="team_logos/@(GetTeamLogo(MatchItem.HomeTeam, DystirWebClientService.AllTeams))" onerror="this.src='team_logos/empty.png'" height="30" />
                                    <span>@((MatchItem.HomeTeam + " " + MatchItem.HomeSquadName + " " + MatchItem.HomeCategoriesName).Trim())</span>
                                </td>
                                <td style="width:30px; background-color:#999999;border-radius:5px; color:white; text-align:center;">
                                    @if (MatchItem.StatusID > 1 && MatchItem.StatusID < 14)
                                    {
                                        @(MatchItem.HomeTeamScore)
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </td>
                                <td style="width:20px;"> : </td>
                                <td style="width:30px; background-color:#999999;border-radius:5px; color:white;text-align:center;">
                                    @if (MatchItem.StatusID > 1 && MatchItem.StatusID < 14)
                                    {
                                        @(MatchItem.AwayTeamScore)
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </td>
                                <td style="text-align:left;padding:0 8px;">
                                    <span>@((MatchItem.AwayTeam + " " + MatchItem.AwaySquadName + " " + MatchItem.AwayCategoriesName).Trim())</span>
                                    <img src="team_logos/@(GetTeamLogo(MatchItem.AwayTeam, DystirWebClientService.AllTeams))" onerror="this.src='team_logos/empty.png'" height="30" />
                                </td>
                            </tr>
                        </table>
                    </td>
                }
                else
                {
                    <td style="text-align:right;">
                        @if (MatchItem.StatusID > 1 && MatchItem.StatusID < 14)
                        {
                            <div class="match_time" style="color:@GetStatusColor(MatchItem.StatusID)">@GetMatchTime(MatchItem.StatusTime, MatchItem.Time, MatchItem.StatusID)</div>
                        }
                        else
                        {
                            <div class="match_info" style="text-align:left;">
                                <span>@(MatchItem.Time?.ToString("HH:mm") == "00:00" ? "-- : --" : MatchItem.Time?.ToLocalTime().ToString(" HH:mm"))</span>
                                <span>@(MatchItem.Time?.ToString("HH:mm") == "00:00" || string.IsNullOrWhiteSpace(MatchItem.Location) ? " " : " - ")</span>
                                <span>@MatchItem.Location</span>
                            </div>
                        }
                    </td>
                }
            </tr>
        </table>
        @if (ShowMore)
        {
            <div class="match_time" style="font-size:1rem;color:@GetStatusColor(MatchItem.StatusID)">@(MatchItem.Time?.ToString("HH:mm") == "00:00" && MatchItem.StatusID > 13 ? "-- : --" : GetMatchTime(MatchItem.StatusTime, MatchItem.Time, MatchItem.StatusID))</div>
        }
        else
        {
            <table class="table">
                <tr>
                    <td style="padding:0 1px;text-align:left;">
                        @((MatchItem.HomeTeam + " " + MatchItem.HomeCategoriesName + " " + MatchItem.HomeSquadName).Trim().ToUpper())
                    </td>
                    <td style="width:1em;padding:0 0.1em;text-align:right;">
                        @if (MatchItem.StatusID > 1 && MatchItem.StatusID < 14)
                        {
                            @(MatchItem.HomeTeamScore)
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                </tr>
            </table>
            <table class="table">
                <tr>
                    <td style="padding:0 1px;text-align:left;">
                        @((MatchItem.AwayTeam + " " + MatchItem.AwayCategoriesName + " " + MatchItem.AwaySquadName).Trim().ToUpper())
                    </td>
                    <td style="width:1em;padding:0 0.1em;text-align:right;">
                        @if (MatchItem.StatusID > 1 && MatchItem.StatusID < 14)
                        {
                            @(MatchItem.AwayTeamScore)
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                </tr>
            </table>
        }
    </div>
}

@code {

    [Parameter]
    public bool ShowMore { get; set; }

    [Parameter]
    public Matches MatchItem { get; set; }

    [Parameter]
    public int TimeZoneOffset { get; set; }

    [Parameter]
    public bool IsSelectedMatch { get; set; }

    string BorderStyle()
    {
        return ShowMore ? "match_item_border" : "";
    }
}
