@page "/client/mobileclient"

@using DystirWeb.Shared
@using DystirWeb.Client.Pages
@inherits MobileClientBase
@layout MobileClientLayout


<div id="header_container_mobile_client">
    <MobileClientHeader BackOnClick="@BackOnClickAsync" SelectedPage="@selectedPage" SelectedMatch="@SelectedMatch" TimeZoneOffset="@TimeZoneOffset" />
</div>

@if (selectedPage == SelectedPage.Matches)
{
    <div id="days_selection">
        <ChooseDays DaysOnClick="@DaysOnClick" TimeZoneOffset="@TimeZoneOffset" DaysRange="@daysRange" />
    </div>
}
else if (selectedPage == SelectedPage.Results || selectedPage == SelectedPage.Fixtures)
{
    <div id="competitions_selection">
        <ChooseCompetitions CompetitionsList="@(CompetitionsList)"
                            SelectedCompetition="@(SelectedCompetition)"
                            CompetitionsOnClick="@(CompetitionsOnClick)" />
    </div>
}
else if (selectedPage == SelectedPage.MatchDetails)
{
    <div id="competitions_selection">
        <div id="scroll_button_left" onclick="scrollOnMouseOver('left')">
            &#10094;
        </div>
        <div id="horizontal_menu">
            <div id="horizontal_menu_wrapper">
                @foreach (Matches match in MatchesListSameDay ?? new List<Matches>())
                {
                    <a style="cursor:pointer;" @onclick="() => { MatchID = match?.MatchID.ToString(); ChangePage(SelectedPage.MatchDetails); }">
                        <Match MatchItem="@match" TimeZoneOffset="@TimeZoneOffset" IsMatchForSameDayList="@true" />
                    </a>
                }
            </div>
        </div>
        <div id="scroll_button_right" onclick="scrollOnMouseOver('right')">
            &#10095;
        </div>
    </div>
}

@switch (selectedPage)
{
    case SelectedPage.Matches:
    case SelectedPage.Results:
    case SelectedPage.Fixtures:
    default:
       <div id="main_container_mobile_client">
            @if (SelectedMatchListGroup?.Count > 0)
            {
                foreach (var matchgroup in SelectedMatchListGroup)
                {
                    <div class="match-group-competition-name">@(matchgroup.Key)</div>
                    @foreach (var match in matchgroup)
                    {
                        <div style="cursor:pointer;" @onclick="() => { MatchID = match?.MatchID.ToString(); ChangePage(SelectedPage.MatchDetails); }">
                            <MatchView MatchItem="@match" TimeZoneOffset="@TimeZoneOffset" />
                        </div>
                    }
                }
            }
            else if (SelectedMatchListGroup?.Count == 0)
            {
                <div class="no-matches">Eingin dystur</div>
            }
            <SponsorsView ShowOnSideBar="false" />
        </div>

        break;
    case SelectedPage.Standings:

        break;
    case SelectedPage.Statistics:

        break;
    case SelectedPage.MatchDetails:

        <div id="selected_match_details">
            <Match MatchItem="@SelectedMatch" TimeZoneOffset="@TimeZoneOffset" ShowMatchType="@true" />
        </div>

        @if (SelectedMatch != null)
        {
            <div id="horizontal_menu_days">
                <MatchDetailsTabs TabOnClick="OnTabClick" Match="@(SelectedMatch)" />
            </div>
        }

        <div id="match_details_container">

            <div class="@(selectedTab == "0" ? "active_tab" : "no_active_tab")">
                <SummaryView SummaryEventsOfMatch="@(SelectedMatch.FullMatchDetails?.Summary)" />
            </div>
            <div class="@(selectedTab == "1" ? "active_tab" : "no_active_tab")">
                <LineupsView PlayersOfMatch="@(SelectedMatch.FullMatchDetails?.MatchDetails?.PlayersOfMatch)" Match="@(SelectedMatch.FullMatchDetails?.MatchDetails?.Match)" />
            </div>
            <div class="@(selectedTab == "2" ? "active_tab" : "no_active_tab")">
                <CommentariesView Commentaries="@(SelectedMatch.FullMatchDetails?.Commentary)" />
            </div>
            @if (SelectedMatch?.StatusID <= 12)
            {
                <div class="@(selectedTab == "3" ? "active_tab" : "no_active_tab")">
                    <StatisticView StatisticOfMatch="@(SelectedMatch.FullMatchDetails?.Statistics)" />
                </div>
            }
            @if (ShowLiveStandings(SelectedMatch))
            {
                <div class="@(selectedTab == "4" ? "active_tab" : "no_active_tab")">
                    <LiveStandingView Standing="@(standing)" Match="@(SelectedMatch)" />
                </div>
            }
        </div>

        break;
}

<div id="days_selection">
    <MobileClientFooterMenu FooterMenuTabOnClick="@FooterMenuTabOnClick" SelectedPage="@selectedPage" />
</div>


@if (isLoading)
{
    <div class="loading-spinner-parent">
        <i class="fas fa-spin fa-spinner fa-2x" style="color: darkgrey"></i>
    </div>
}
