@using DystirWeb.ModelViews
@model Standing

<div class="matches-view standings-view">
    <table class="table standings-table">
        <tr class="standings-header" >
            <td class="standings-cell" style="width:40%;padding:4px 0 4px 32px">LIÐ</td>
            <td class="standings-cell">DS</td>
            <td class="standings-cell">VD</td>
            <td class="standings-cell">JD</td>
            <td class="standings-cell">TD</td>
            <td class="standings-cell">MF</td>
            <td class="standings-cell">MÍ</td>
            <td class="standings-cell">MM</td>
            @*<td class="standings-cell">(%)</td>*@
            <td class="standings-cell">St.</td>
        </tr>
        @foreach (var teamStanding in Model.TeamStandings)
        {
            <tr class="standings-bottom-border" style="border-bottom:1px solid @teamStanding.PositionColor">
                <td class="standings-cell" style="width:40%;padding:4px 0;text-align:left;font-weight: bold;">
                    <div style="display:inline-block; padding:7px 0;text-align:center; width:30px">@(teamStanding.Position).</div>@teamStanding.Team
                </td>
                <td class="standings-cell">@teamStanding.MatchesNo</td>
                <td class="standings-cell">@teamStanding.Victories</td>
                <td class="standings-cell">@teamStanding.Draws</td>
                <td class="standings-cell">@teamStanding.Losses</td>
                <td class="standings-cell">@teamStanding.GoalScored</td>
                <td class="standings-cell">@teamStanding.GoalAgainst</td>
                <td class="standings-cell">@teamStanding.GoalDifference</td>
                @*<td class="standings-cell">@teamStanding.PointsProcent</td>*@
                <td class="standings-cell" style="font-weight: bold;">@teamStanding.Points</td>
            </tr>
        }
    </table>
</div>

