@page "/football/results"

@layout DystirLayout
@implements IDisposable


<div id="competitions_selection">
    <ChooseCompetitions CompetitionsList="@(CompetitionsList)"
                        SelectedCompetition="@(SelectedResultsCompetition)"
                        CompetitionsOnClick="@(CompetitionsOnClick)" />
</div>
<div id="main_container">
    @if (ResultsMatchesListGroup?.Count > 0)
    {
        foreach (var matchgroup in ResultsMatchesListGroup)
        {
            <div class="match-group-competition-name">@(matchgroup.Key)</div>
            @foreach (var match in matchgroup)
            {
                <NavLink class="nav-link" href="@("/football/matchdetails/" + match.MatchID)">
                    <MatchView MatchItem="@match" TimeZoneOffset="@timeZoneOffset" />
                </NavLink>
            }
        }
    }
    else if (ResultsMatchesListGroup?.Count == 0)
    {
        <div class="no-matches">Eingin dystur</div>
    }
    <NewsView />
    <SponsorsView ShowOnSideBar="false" />
</div>

@if (isLoading)
{
    <div class="loading-spinner-parent">
        <i class="fas fa-spin fa-spinner fa-2x" style="color: darkgrey"></i>
    </div>
}

@code {
    private string SelectedResultsCompetition { get; set; }
    private List<string> CompetitionsList { get; set; }
    private List<IGrouping<string, Matches>> ResultsMatchesListGroup;
    private int timeZoneOffset = 0;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        DystirWebClientService.OnFullDataLoaded += DystirWebClientService_FullDataLoaded;
        DystirWebClientService.OnConnected += HubConnection_OnConnected;
        DystirWebClientService.OnRefreshMatchDetails += DystirWebClientService_OnRefreshMatchDetails;
        TimeService.OnTimerElapsed += TimerElapsed;
        timeZoneOffset = int.Parse(await JSRuntime.InvokeAsync<String>("getTimeZoneOffset"));
        _ = LoadResultMatches();
    }

    void IDisposable.Dispose()
    {
        DystirWebClientService.OnFullDataLoaded -= DystirWebClientService_FullDataLoaded;
        DystirWebClientService.OnConnected -= HubConnection_OnConnected;
        DystirWebClientService.OnRefreshMatchDetails -= DystirWebClientService_OnRefreshMatchDetails;
        TimeService.OnTimerElapsed -= TimerElapsed;
    }

    private async void DystirWebClientService_FullDataLoaded()
    {
        await LoadResultMatches();
    }

    private async void HubConnection_OnConnected()
    {
        await LoadResultMatches();
    }

    private async void DystirWebClientService_OnRefreshMatchDetails(MatchDetails matchDetails)
    {
        await LoadResultMatches();
    }

    private void TimerElapsed(object sender, EventArgs e)
    {
        if (HubConnection.State == HubConnectionState.Connected)
        {
            Refresh();
        }
    }

    private void Refresh()
    {
        InvokeAsync(() => StateHasChanged());
    }

    private async void CompetitionsOnClick(string competition)
    {
        isLoading = true;
        SelectedResultsCompetition = competition;
        await LoadResultMatches();
    }

    public async Task LoadResultMatches()
    {
        await Task.Run(() =>
        {
            var allResultMatchByCompetition = DystirWebClientService.AllMatches?
                .Where(x => (x.StatusID == 12 || x.StatusID == 13)
                && x.MatchTypeID != 3 && x.MatchTypeID != 4 && x.MatchTypeID != 100)
                .OrderBy(x => GetOrder(x.MatchTypeID))
                .ThenByDescending(x => x.Time).ThenByDescending(x => x.RoundID).ThenBy(x => x.MatchID)
                .GroupBy(x => x.MatchTypeName)?.ToList();

            if (allResultMatchByCompetition == null) return;

            CompetitionsList = new List<string>();
            foreach (var matchGroup in allResultMatchByCompetition)
            {
                CompetitionsList.Add(matchGroup.Key);
            }

            if (string.IsNullOrWhiteSpace(SelectedResultsCompetition))
            {
                SelectedResultsCompetition = CompetitionsList?.FirstOrDefault() ?? "";
            }

            var resultMatchesList = allResultMatchByCompetition.FirstOrDefault(x => x.Key == SelectedResultsCompetition)?.ToList() ?? new List<Matches>();
            ResultsMatchesListGroup = resultMatchesList.GroupBy(x => x.RoundName)?.ToList();
        });
        isLoading = false;
        Refresh();
        _ = JSRuntime.InvokeVoidAsync("onPageResize", "");
    }

    private object GetOrder(int? matchTypeId)
    {
        switch (matchTypeId)
        {
            case 101:
                return 6;
            case 6:
                return 101;
            default:
                return matchTypeId;
        }
    }
}

