@using System.Globalization

<div id="horizontal_menu_days">
    <div class="tab @(GetSelectedDaysIndex(DaysRange) == 0 ? "selected_tab" : "")">
        <span @onclick='(() => SelectDays("lastweek"))'>
            Í FARNU VIKU
        </span>
    </div>
    <div class="tab @(GetSelectedDaysIndex(DaysRange) == 1 ? "selected_tab" : "")">
        <span @onclick='(() => SelectDays("yesterday"))'>
            Í GJÁR
        </span>
    </div>
    <div class="tab @(GetSelectedDaysIndex(DaysRange) == 2 ? "selected_tab" : "")">
        <span @onclick='(() => SelectDays("today"))'>
            Í DAG
        </span>
    </div>
    <div class="tab @(GetSelectedDaysIndex(DaysRange) == 3 ? "selected_tab" : "")">
        <span @onclick='(() => SelectDays("tomorrow"))'>
            Í MORGIN
        </span>
    </div>
    <div class="tab @(GetSelectedDaysIndex(DaysRange) == 4 ? "selected_tab" : "")">
        <span @onclick='(() => SelectDays("nextweek"))'>
            Í VIKUNI
        </span>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<string> DaysOnClick { get; set; }

    [Parameter]
    public int TimeZoneOffset { get; set; }

    [Parameter]
    public string DaysRange { get; set; }

    private void Refresh()
    {
        InvokeAsync(() => StateHasChanged());
    }

    private void SelectDays(string daysRange)
    {
        Refresh();
        DateTime dateToday = DateTime.UtcNow.AddMinutes(-TimeZoneOffset);
        CultureInfo _cultureInfo = new CultureInfo("fo-FO");
        int offset = _cultureInfo.DateTimeFormat.FirstDayOfWeek - dateToday.DayOfWeek;
        DateTime firstDayOfWeekDate = DateTime.Now.AddDays(offset);
        DaysOnClick.InvokeAsync(daysRange);
    }

    private int GetSelectedDaysIndex(string daysRange)
    {
        switch (daysRange?.ToLower())
        {
            case "lastweek":
                return 0;
            case "yesterday":
                return 1;
            case "today":
            default:
                return 2;
            case "tomorrow":
                return 3;
            case "nextweek":
                return 4;
        }
    }
}
