@using DystirWeb.Shared

<table class="commentary_main_table table">
    <tbody>
        <tr>
            <td style="padding:0">
                @foreach (SummaryEventOfMatch eventOfMatch in Commentaries ?? new List<SummaryEventOfMatch>())
                {
                    <div class="event-list-item">
                        <table style="text-align:center;width:100%">
                            <tbody>
                                <tr>
                                    <td style="width:50%">
                                        @if (!string.IsNullOrWhiteSpace(eventOfMatch.HomeTeam))
                                        {
                                            <table style="text-align:right;width:100%">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            @if ((eventOfMatch.EventName == "GOAL"))
                                                            {
                                                                <div style="font-weight:bold;padding:0 7px">
                                                                    <span style="background-color:darkgreen; color:white;font-weight:bold;padding:0 7px;">
                                                                        @eventOfMatch.HomeTeamScore:@eventOfMatch.AwayTeamScore
                                                                    </span>
                                                                    <span style="padding:0 0 0 5px">Mál</span>
                                                                    <span style="background-color:darkgreen;padding:2px;margin:0 0 0 5px">&#9917;</span>
                                                                </div>
                                                            }
                                                            else if ((eventOfMatch.EventName == "OWNGOAL"))
                                                            {
                                                                <div style="font-weight:bold;padding:0 7px">
                                                                    <span style="background-color:darkgreen; color:white;font-weight:bold;padding:0 7px;">
                                                                        @eventOfMatch.HomeTeamScore:@eventOfMatch.AwayTeamScore
                                                                    </span>
                                                                    <span style="padding:0 0 0 5px">Sjálvmál</span>
                                                                    <span style="background-color:darkred;padding:2px;margin:0 0 0 5px">&#9917;</span>
                                                                </div>
                                                            }
                                                            else if ((eventOfMatch.EventName == "PENALTYSCORED"))
                                                            {
                                                                <div style="font-weight:bold;padding:0 7px">
                                                                    <span style="background-color:darkgreen; color:white;font-weight:bold;padding:0 7px;">
                                                                        @eventOfMatch.HomeTeamScore:@eventOfMatch.AwayTeamScore
                                                                    </span>
                                                                    <span style="padding:0 0 0 5px">Brotsspark skora</span>
                                                                    <span style="background-color:darkgreen;padding:2px;margin:0 0 0 5px">&#9917;</span>
                                                                </div>
                                                            }
                                                            else if ((eventOfMatch.EventName == "PENALTYMISSED"))
                                                            {
                                                                <div style="padding:0 7px">
                                                                    <span style="color:red;padding:0 0 0 3px;">Brotsspark brent</span>
                                                                </div>
                                                            }
                                                            else if (eventOfMatch.EventName == "BIGCHANCE")
                                                            {
                                                                <div style="padding:0 7px">
                                                                    <span class="big_chance" style="padding:0 0 0 3px;">Stórur møguleiki</span>
                                                                </div>
                                                            }
                                                            else if ((eventOfMatch.EventName == "YELLOW"))
                                                            {
                                                                <div style="float:right; font-weight:bold;color:gold;background-color:gold; padding:0 1px;margin:0 5px">0</div>
                                                            }
                                                            else if ((eventOfMatch.EventName == "RED"))
                                                            {
                                                                <div style="float:right;font-weight:bold;color:red;background-color:red; padding:0 1px;margin:0 5px">0</div>
                                                            }
                                                            else if (eventOfMatch.EventName == "SUBSTITUTION")
                                                            {
                                                                <div style="padding:0 7px">
                                                                    <span style="color:red;">&#9660;</span>
                                                                    <span style="color:green;">&#9650;</span>
                                                                </div>
                                                            }
                                                            else if (eventOfMatch.EventName == "ASSIST")
                                                            {
                                                                <div class="big_chance" style="padding:0 7px">Upplegg</div>
                                                            }
                                                            else if (eventOfMatch.EventName == "CORNER")
                                                            {
                                                                <div class="secondary-event" style="color:#a6a6a6;padding:0 7px">Hornaspark</div>
                                                            }
                                                            else if (eventOfMatch.EventName == "ONTARGET")
                                                            {
                                                                <div class="secondary-event" style="color:#a6a6a6;padding:0 7px">Roynd á mál</div>
                                                            }
                                                            else if (eventOfMatch.EventName == "OFFTARGET")
                                                            {
                                                                <div class="secondary-event" style="color:#a6a6a6;padding:0 7px">Roynd framvið mál</div>
                                                            }
                                                            else if (eventOfMatch.EventName == "BLOCKEDSHOT")
                                                            {
                                                                <div class="secondary-event" style="color:#a6a6a6;padding:0 7px">Blokera skot</div>
                                                            }
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        }
                                    </td>
                                    <td class="event_time">
                                        @eventOfMatch.EventOfMatch.EventMinute
                                    </td>
                                    <td style="width:50%">
                                        @if (!string.IsNullOrWhiteSpace(eventOfMatch.AwayTeam))
                                        {
                                            <table style="text-align:left">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            @if ((eventOfMatch.EventName == "GOAL"))
                                                            {
                                                                <div style="font-weight:bold; padding:0px 7px">
                                                                    <span style="background-color:darkgreen;padding:2px;margin:0 5px 0 0">&#9917;</span>
                                                                    <span style="padding:0 5px 0 0">Mál</span>
                                                                    <span style="background-color:darkgreen; color:white;font-weight:bold;padding:0 7px;">
                                                                        @eventOfMatch.HomeTeamScore:@eventOfMatch.AwayTeamScore
                                                                    </span>
                                                                </div>
                                                            }
                                                            else if ((eventOfMatch.EventName == "OWNGOAL"))
                                                            {
                                                                <div style="font-weight:bold; padding:0 7px">
                                                                    <span style="background-color:darkred;padding:2px;margin:0 5px 0 0">&#9917;</span>
                                                                    <span style="padding:0 5px 0 0">Sjálvmál</span>
                                                                    <span style="background-color:darkgreen; color:white;font-weight:bold;padding:0 7px;">
                                                                        @eventOfMatch.HomeTeamScore:@eventOfMatch.AwayTeamScore
                                                                    </span>
                                                                </div>
                                                            }
                                                            else if ((eventOfMatch.EventName == "PENALTYSCORED"))
                                                            {
                                                                <div style="font-weight:bold; padding:0 7px">
                                                                    <span style="background-color:darkgreen;padding:2px;margin:0 5px 0 0">&#9917;</span>
                                                                    <span style="padding:0 5px 0 0">Brotsspark skora</span>
                                                                    <span style="background-color:darkgreen; color:white;font-weight:bold;padding:0 7px;">
                                                                        @eventOfMatch.HomeTeamScore:@eventOfMatch.AwayTeamScore
                                                                    </span>
                                                                </div>
                                                            }
                                                            else if ((eventOfMatch.EventName == "PENALTYMISSED"))
                                                            {
                                                                <div style="padding:0 7px">
                                                                    <span style="color:red;padding:0 3px 0 0;">Brotsspark brent</span>
                                                                </div>
                                                            }
                                                            else if (eventOfMatch.EventName == "BIGCHANCE")
                                                            {
                                                                <div style="padding:0 7px">
                                                                    <span class="big_chance" style="padding:0 3px 0 0;">Stórur møguleiki</span>
                                                                </div>
                                                            }
                                                            else if ((eventOfMatch.EventName == "YELLOW"))
                                                            {
                                                                <div style="float:left;font-weight:bold;color:gold;background-color:gold; padding:0 1px;margin:0 5px">0</div>
                                                            }
                                                            else if ((eventOfMatch.EventName == "RED"))
                                                            {
                                                                <div style="float:left;font-weight:bold;color:red;background-color:red; padding:0 1px;margin:0 5px">0</div>
                                                            }
                                                            else if (eventOfMatch.EventName == "SUBSTITUTION")
                                                            {
                                                                <div style="padding:0px 7px">
                                                                    <span style="color:green;">&#9650;</span>
                                                                    <span style="color:red;">&#9660;</span>
                                                                </div>
                                                            }
                                                            else if (eventOfMatch.EventName == "ASSIST")
                                                            {
                                                                <div class="big_chance" style="padding:0 7px">Upplegg</div>
                                                            }
                                                            else if (eventOfMatch.EventName == "CORNER")
                                                            {
                                                                <div class="secondary-event" style="color:#a6a6a6;padding:0 7px">Hornaspark</div>
                                                            }
                                                            else if (eventOfMatch.EventName == "ONTARGET")
                                                            {
                                                                <div class="secondary-event" style="color:#a6a6a6;padding:0 7px">Roynd á mál</div>
                                                            }
                                                            else if (eventOfMatch.EventName == "OFFTARGET")
                                                            {
                                                                <div class="secondary-event" style="color:#a6a6a6;padding:0 7px">Roynd framvið mál</div>
                                                            }
                                                            else if (eventOfMatch.EventName == "BLOCKEDSHOT")
                                                            {
                                                                <div class="secondary-event" style="color:#a6a6a6;padding:0 7px">Blokera skot</div>
                                                            }
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="width:100%;white-space:initial;">@eventOfMatch.EventOfMatch.EventText</div>
                    </div>
                }
            </td>
        </tr>
    </tbody>
</table>

@code {
    [Parameter]
    public List<SummaryEventOfMatch> Commentaries { get; set; }
}
