@using DystirWeb.Shared

<div class="standings_table">
    <table class="content_table">
        @if (standing?.TeamStandings?.Count() > 0 == true)
        {
            <tr id="standings_header">
                <td class="standings_cell standings_cell_number">Nr</td>
                <td class="standings_cell standings_cell_team_name">LIÐ</td>
                <td class="standings_cell font-weight-bold">ST</td>
                <td class="standings_cell">DS</td>
                <td class="standings_cell">VD</td>
                <td class="standings_cell">JD</td>
                <td class="standings_cell">TD</td>
                <td class="standings_cell">MF</td>
                <td class="standings_cell">MÍ</td>
                <td class="standings_cell">MM</td>
            </tr>
        }
        @foreach (var teamStanding in standing?.TeamStandings ?? new List<TeamStanding>())
        {
            <tr style="border-bottom:1px solid @teamStanding.PositionColor">
                <td class="standings_cell standings_cell_number">
                    <div class="@(Match.HomeTeam == teamStanding.Team || Match.AwayTeam == teamStanding.Team ? "live_standings_team_number" : "")">
                        <i class="@(teamStanding.IsLive == true ? "fas fa-circle live_standings_indicator" : "")"></i>
                        <span>@(teamStanding.Position).</span>
                    </div>
                </td>
                <td class="standings_cell standings_cell_team_name">@teamStanding.Team</td>
                <td class="standings_cell text-white font-weight-bold">@teamStanding.Points</td>
                <td class="standings_cell">@teamStanding.MatchesNo</td>
                <td class="standings_cell">@teamStanding.Victories</td>
                <td class="standings_cell">@teamStanding.Draws</td>
                <td class="standings_cell">@teamStanding.Losses</td>
                <td class="standings_cell">@teamStanding.GoalScored</td>
                <td class="standings_cell">@teamStanding.GoalAgainst</td>
                <td class="standings_cell">@teamStanding.GoalDifference</td>
            </tr>
        }
    </table>
</div>

@code {
    [Parameter]
    public Standing standing { get; set; }

    [Parameter]
    public Matches Match { get; set; }
}
