<div class="tab @(selectedTab == 0 ? "selected_tab" : "")">
    <span @onclick="(() => SelectTab(0))">
        Úrtak
    </span>
</div>
<div class="tab @(selectedTab == 1 ? "selected_tab" : "")">
    <span @onclick="(() => SelectTab(1))">
        Leikarar
    </span>
</div>
<div class="tab @(selectedTab == 2 ? "selected_tab" : "")">
    <span @onclick="(() => SelectTab(2))">
        Hendingar
    </span>
</div>
@if (Match?.StatusID <= 12)
{
    <div class="tab @(selectedTab == 3 ? "selected_tab" : "")">
        <span @onclick="(() => SelectTab(3))">
            Hagtøl
        </span>
    </div>
}
@if (ShowLiveStandings(Match))
{
    <div class="tab @(selectedTab == 4 ? "selected_tab" : "")">
        <span @onclick="(() => SelectTab(4))">
            Støðan
        </span>
    </div>
}

@code {
    [Parameter]
    public EventCallback<string> TabOnClick { get; set; }

    [Parameter]
    public Matches Match { get; set; }

    public int selectedTab = 0;

    private void SelectTab(int tabIndex)
    {
        selectedTab = tabIndex;
        TabOnClick.InvokeAsync(tabIndex.ToString());
    }

    private bool ShowLiveStandings(Matches match)
    {
        var competititionNamesArray = new string[] { "Betri deildin", "1. deild", "Betri deildin kvinnur", "2. deild" };
        return competititionNamesArray.Any(x => x == match?.MatchTypeName);
    }
    }
