@using DystirWeb.ViewBases
@using System.Globalization
@using DystirWeb.Services
@using DystirWeb.Shared
@inject DystirWebClientService DystirWebClientService
@inherits MatchBase

@if (MatchItem != null)
{

    <div class="match_item @(BorderStyle())">
        <div class="match_info">
            <span>@MatchItem.Time?.AddMinutes(-TimeZoneOffset).ToString("ddd dd.MM.", new CultureInfo("fo-FO"))</span>
            <span>@(MatchItem.Time?.ToString("HH:mm") == "00:00" ? "" : MatchItem.Time?.AddMinutes(-TimeZoneOffset).ToString(" HH:mm"))</span>
            <span>@(string.IsNullOrWhiteSpace(MatchItem.RoundName) ? "" : " - ")</span>
            <span>@MatchItem.RoundName</span>
            <span>@(string.IsNullOrWhiteSpace(MatchItem.Location) ? "" : " - ")</span>
            <span>@MatchItem.Location</span>
        </div>
        <table class="table" style="margin:0 0 7px 0">
            <tr class="match_item_teams_name">
                <td style="text-align:right;padding:0 3px">
                    <span>@((MatchItem.HomeTeam + " " + MatchItem.HomeSquadName + " " + MatchItem.HomeCategoriesName).Trim())</span>
                    <img src="team_logos/@(GetTeamLogo(MatchItem.HomeTeam, DystirWebClientService.AllTeams))"
                         onerror="this.src='team_logos/empty.png'" width="25" height="25" />
                </td>
                <td style="text-align:center;width:20px;padding:0 3px;">-</td>
                <td style="text-align:left;padding:0 3px">
                    <img src="team_logos/@(GetTeamLogo(MatchItem.AwayTeam, DystirWebClientService.AllTeams))"
                         onerror="this.src='team_logos/empty.png'" width="25" height="25" />
                    <span>@((MatchItem.AwayTeam + " " + MatchItem.AwaySquadName + " " + MatchItem.AwayCategoriesName).Trim())</span>
                </td>
            </tr>
        </table>
        <table class="table">
            <tr class="match_item_text_color">
                <td style="text-align:left;">
                    @if (MatchItem.StatusID < 14)
                    {
                        <span class="match_time" style="color:@GetStatusColor(MatchItem.StatusID)">@GetMatchTime(MatchItem.StatusTime, MatchItem.Time, MatchItem.StatusID)</span>
                    }
                </td>

                @if (MatchItem.StatusID < 14 && MatchItem.StatusID > 1)
                {
                    <td class="score_match_view" style="margin:0 3px">
                        @(MatchItem.HomeTeamScore)
                    </td>
                    <td style="text-align:center;width:20px;padding:0 5px">:</td>
                    <td class="score_match_view" style="margin:0 3px">
                        @(MatchItem.AwayTeamScore)
                    </td>
                }
                else
                {
                    <td class="score_match_view" style="margin:0 3px">-</td>
                    <td style="text-align:center;width:20px;padding:0 5px">:</td>
                    <td class="score_match_view" style="margin:0 3px">-</td>
                }

                <td style="text-align:right;">
                    @if (MatchItem.StatusID < 13 && ShowMore)
                    {
                        <span>Vís meira &#10095;</span>
                    }
                </td>
            </tr>
        </table>
    </div>

    <div class="match_item_mobile @(BorderStyle())">
        <table>
            <tr>
                <td class="match_info" style="width:100%;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;max-width:1px;">
                    <span>@MatchItem.Time?.AddMinutes(-TimeZoneOffset).ToString("ddd dd.MM.", new CultureInfo("fo-FO"))</span>
                    <span>@(MatchItem.Time?.ToString("HH:mm") == "00:00" ? "" : MatchItem.Time?.AddMinutes(-TimeZoneOffset).ToString(" HH:mm"))</span>
                    <span>@(string.IsNullOrWhiteSpace(MatchItem.RoundName) ? "" : " - ")</span>
                    <span>@MatchItem.RoundName</span>
                    <span>@(string.IsNullOrWhiteSpace(MatchItem.Location) ? "" : " - ")</span>
                    <span>@MatchItem.Location</span>
                </td>

                <td class="match_time" style="white-space:nowrap;width:0">
                    @if (MatchItem.StatusID < 14)
                    {
                        <span style="color:@GetStatusColor(MatchItem.StatusID)">@GetMatchTime(MatchItem.StatusTime, MatchItem.Time, MatchItem.StatusID)</span>
                    }
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td class="match_item_teams_name" style="width:100%;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;max-width:1px;">
                    <img style="padding: 3px;"
                         src="team_logos/@(GetTeamLogo(MatchItem.HomeTeam, DystirWebClientService.AllTeams))"
                         onerror="this.src='team_logos/empty.png'" width="25" height="25" />
                    <span>@((MatchItem.HomeTeam + " " + MatchItem.HomeSquadName + " " + MatchItem.HomeCategoriesName).Trim())</span>
                </td>
                <td style="white-space:nowrap;width:0;">
                    <div class="score_match_view" style="margin-right:5px;">
                        @if (MatchItem.StatusID < 14 && MatchItem.StatusID > 1)
                        {
                            @(MatchItem.HomeTeamScore)
                        }
                        else
                        {
                            @("-")
                        }
                    </div>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td class="match_item_teams_name" style="width:100%;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;max-width:1px;">
                    <img style="padding: 3px;"
                         src="team_logos/@(GetTeamLogo(MatchItem.AwayTeam, DystirWebClientService.AllTeams))"
                         onerror="this.src='team_logos/empty.png'" width="25" height="25" />
                    <span>@((MatchItem.AwayTeam + " " + MatchItem.AwaySquadName + " " + MatchItem.AwayCategoriesName).Trim())</span>
                </td>
                <td style="white-space:nowrap;width:0">
                    <div class="score_match_view" style="margin-right:5px;">
                        @if (MatchItem.StatusID < 14 && MatchItem.StatusID > 1)
                        {
                            @(MatchItem.AwayTeamScore)
                        }
                        else
                        {
                            @("-")
                        }
                    </div>
                </td>
            </tr>
        </table>
    </div>
}

@code {

    [Parameter]
    public bool ShowMore { get; set; }

    [Parameter]
    public Matches MatchItem { get; set; }

    [Parameter]
    public int TimeZoneOffset { get; set; }

    [Parameter]
    public bool ShowMatchType { get; set; }

    string BorderStyle()
    {
        return ShowMore ? "match_item_border" : "";
    }
}
