@using DystirWeb.Shared

<div class="player-list-item">
    <table class="content_table" style="text-align:left;">
        <tr>
            <td style="width:35px;text-align:center;vertical-align:central">
                <div class="player_number">@(Player.Number)</div>
            </td>
            <td>
                <div class="player_name">
                    @((Player.FirstName + " " + Player.Lastname).Trim())
                </div>
                <div style="color:#a6a6a6;">
                    <span style="color:#a6a6a6;margin-right:4px">
                        @if (Player.Position == "GK")
                        {
                            @("MM")
                        }
                        else if (Player.Position == "DEF")
                        {
                            @("VL")
                        }
                        else if (Player.Position == "MID")
                        {
                            @("MV")
                        }
                        else if (Player.Position == "ATT")
                        {
                            @("AL")
                        }
                        else
                        {
                            @("---")
                        }
                    </span>
                    @if (Player.Goal > 0)
                    {
                        <span class="goal_icon">&#9917;</span>
                        <span>@(Player.Goal)</span>
                    }
                    @if (Player.OwnGoal > 0)
                    {
                        <span class="owngoal_icon">&#9917;</span>
                        <span>@(Player.OwnGoal)</span>
                    }
                    @if (Player.YellowCard > 0)
                    {
                        <span class="yellow_card" style="margin-right:2px;"></span>
                    }
                    @if (Player.YellowCard > 1)
                    {
                        <span class="yellow_card" style="margin-right:2px;"></span>
                    }
                    @if (Player.RedCard > 0)
                    {
                        <span class="red_card" style="margin-right:2px;"></span>
                    }
                    @if (Player.SubIn > -1)
                    {
                        <span class="sub_in">&#9650;</span>
                        <span>@(Player.SubIn)'</span>
                    }
                    @if (Player.SubOut > -1)
                    {
                        <span class="sub_out">&#9660;</span>
                        <span>@(Player.SubOut)'</span>
                    }
                </div>
            </td>
        </tr>
    </table>
</div>

@code {
    [Parameter]
    public PlayersOfMatches Player { get; set; }
}
