@foreach (SummaryEventOfMatch summaryEventOfMatch in SummaryEventsOfMatch?.Where(x => x.EventName.ToUpper() != "ASSIST") ?? new List<SummaryEventOfMatch>())
{
    <table class="event_list_item summary_main_table">
        <tr>
            <td>
                <table class="summary_main_table">
                    <tr>
                        <SummaryEventView SummaryEventOfMatch="@summaryEventOfMatch" />
                    </tr>
                </table>

                @if (summaryEventOfMatch.EventOfMatch.EventPeriodId != 10)
                {
                    if (summaryEventOfMatch.EventName == "GOAL"
                       || summaryEventOfMatch.EventName == "OWNGOAL"
                       || summaryEventOfMatch.EventName == "PENALTYSCORED")
                    {
                        <div>
                            <div class="score d-inline-block">@summaryEventOfMatch.HomeTeamScore</div>
                            <div class="d-inline-block">:</div>
                            <div class="score d-inline-block">@summaryEventOfMatch.AwayTeamScore</div>
                        </div>
                    }

                }
                else if (summaryEventOfMatch.EventName == "GOAL"
                  || summaryEventOfMatch.EventName == "OWNGOAL"
                  || summaryEventOfMatch.EventName == "PENALTYSCORED"
                  || summaryEventOfMatch.EventName == "PENALTYMISSED")

                {
                    <div>
                        <div class="score_match_view d-inline-block">@summaryEventOfMatch.HomeTeamPenaltiesScore</div>
                        <div class="d-inline-block">:</div>
                        <div class="score_match_view d-inline-block">@summaryEventOfMatch.AwayTeamPenaltiesScore</div>
                    </div>
                }

                @if (!string.IsNullOrWhiteSpace(summaryEventOfMatch.HomeTeam))
                {
                    <div class="summary_event text-center w-100">
                        @if (summaryEventOfMatch.EventName == "GOAL")
                        {
                            <div class="main_player d-inline-block">@(summaryEventOfMatch.HomeMainPlayer)</div>
                            if (!string.IsNullOrWhiteSpace(summaryEventOfMatch.HomeSecondPlayer))
                            {
                                <div class="second_player d-inline-block">&nbsp;@("- " + summaryEventOfMatch.HomeSecondPlayer)</div>
                            }
                        }
                        else if (summaryEventOfMatch.EventName == "OWNGOAL")
                        {
                            <div class="owngoal_player d-inline-block">@(summaryEventOfMatch.HomeMainPlayer)</div>
                        }
                        else if (summaryEventOfMatch.EventName == "PENALTYMISSED")
                        {
                            <div class="second_player d-inline-block">@(summaryEventOfMatch.HomeMainPlayer)</div>
                        }
                        else
                        {
                            <div class="main_player d-inline-block">@(summaryEventOfMatch.HomeMainPlayer)</div>
                        }
                    </div>
                }

                @if (!string.IsNullOrWhiteSpace(summaryEventOfMatch.AwayTeam))
                {
                    <div class="summary_event text-center w-100">
                        @if (summaryEventOfMatch.EventName == "GOAL")
                        {
                            <div class="main_player d-inline-block">@(summaryEventOfMatch.AwayMainPlayer)</div>
                            if (!string.IsNullOrWhiteSpace(summaryEventOfMatch.AwaySecondPlayer))
                            {
                                <div class="second_player d-inline-block">&nbsp;@("- " + summaryEventOfMatch.AwaySecondPlayer)</div>
                            }
                        }
                        else if (summaryEventOfMatch.EventName == "OWNGOAL")
                        {
                            <div class="owngoal_player d-inline-block">@(summaryEventOfMatch.AwayMainPlayer)</div>
                        }
                        else if (summaryEventOfMatch.EventName == "PENALTYMISSED")
                        {
                            <div class="second_player d-inline-block">@(summaryEventOfMatch.AwayMainPlayer)</div>
                        }
                        else
                        {
                            <div class="main_player d-inline-block">@(summaryEventOfMatch.AwayMainPlayer)</div>
                        }
                    </div>
                }
            </td>
        </tr>
    </table>
}


@code {
    [Parameter]
    public List<SummaryEventOfMatch> SummaryEventsOfMatch { get; set; }
}
